<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59388261711-49erht58lunhtepb7dfetuhdo0e1haha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59388261711-49erht58lunhtepb7dfetuhdo0e1haha</string>
	<key>API_KEY</key>
	<string>AIzaSyDYezztChydjPe1GVYvElAx-_AU2wfNB0E</string>
	<key>GCM_SENDER_ID</key>
	<string>59388261711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.machinetest</string>
	<key>PROJECT_ID</key>
	<string>machinetest-31cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>machinetest-31cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59388261711:ios:8485c28508b9800897c13a</string>
</dict>
</plist>